.monitoring {
    .s-left {
        width: 25%;
        display: flex;
        gap: 10px;
        flex-direction: column;

        .chart-box {
            background: #09192c9a;
            position: relative;
            width: 100%;
            height: calc(100% / 3);
            border: 1px solid #2660ab;
            border-radius: 10px;

            .chart {
                width: 100%;
                height: 100%;
                padding: 10px;
                display: flex;
                flex-direction: column;
                font-size: 16px;

                .titlebox {
                    // margin-bottom: 10px;
                    // color: white;
                    display: flex;
                    align-items: center;
                    color: #c3eaff;
                    img {
                        width: 14px;
                        margin-right: 8px;
                    }
                }

                .linechart {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
