.q-drawer--left.q-drawer--bordered {
    border-right: none !important;
}
.drawer-back {
    background: linear-gradient(to right, #08172c, #052d5c, #091d3d);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}
.q-separator {
    background: linear-gradient(
        to left,
        #ffffff33,
        #ffffff77,
        #ffffff33
    ) !important;
}

.menu-logo-area {
    padding: 20px 12px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 80%;
    }
}

.depth-menu-1 {
    width: 100% !important;
    padding: 10px 0 !important;
    box-shadow: none !important;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 35%;
        margin-bottom: 4px;
    }
    .menu-title {
        font-size: 12px;
        font-weight: 300;
        width: 100%;
        color: rgba(255, 255, 255, 0.8);
    }
}
.depth-menu-1::before {
    box-shadow: none !important;
}

.bg-menu {
    border-radius: 0 !important;
    border: 1px solid rgba(24, 219, 247, 0.2) !important;
    background: #040d21ff !important;
    max-height: 70vh;
    .items-center {
        font-weight: 300;
        font-size: 14px;
    }
}

.sub-menu {
    width: 100% !important;
    border-radius: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
}
.sub-menu::before {
    box-shadow: none !important;
}
.header-info {
    border-bottom: 1px solid;
    border-image-slice: 2;
    border-width: 2px;
    background-color: #040d2199 !important;
}

.border-gradient {
    border-image-source: linear-gradient(
        to left,
        #ffffff22,
        #ffffff77,
        #ffffff22
    ) !important;
}
